# Python cache
__pycache__/
*.pyc

# Secrets
.env

# SQLite database
db.sqlite3

# Virtual environments
venv/

# Django static files
/staticfiles/
/media/

# IDE / editor folders
.vscode/
.idea/
.DS_Store

# Logs
*.log
